NAME=SteamHeadless
TZ=Asia/Singapore
USER_LOCALES=en_US.UTF-8 UTF-8
HOME_DIR=./data
GAMES_DIR=/mnt/games
PUID=1000
PGID=1000
SUNSHINE_USER=admin
SUNSHINE_PASS=admin
WLR_BACKENDS=drm,libinput
CPU_LIMIT=16
MEMORY_LIMIT=128g
SHM_SIZE=16g
DRI_CARD_NUM=0
DRI_RENDERD_NUM=128
SUNSHINE_INPUT_SEAT=seat0
